*{
    margin: 0;
}

nav >ul{
    border: 2px solid rgb(116, 62, 62);
    list-style-type: none;
    display: flex;
    /* flex makes the content to appear in one line */
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 40px;
    background-color: rgb(228, 206, 213);
    font-style: oblique;
    font-size: large;
}

nav >ul>li>a {
    color: blueviolet;
    text-decoration: none;
}

nav > ul> li> a:hover{
    color: brown;
    text-decoration: underline;
}

header{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(170, 53, 11);
}
p{
    text-align:center;
    color: crimson;
    padding: 15px;
    font-size: larger;
}

#hmpg{
    color: blue;
}
#hmprg{
    color: brown;
    padding: 10px;
    font-size: larger;
}
.home{
    margin-top: 20px;
    display: flex;
}
.home > ul> li> a:hover{
    color: aqua;
    text-decoration: solid;
}
#contact{
    margin-top: 30px;
    color: red;
    text-align: center;
}
.cntct{
    margin-top: 50px;
    display: flex;
}

.cntct > ul> li> a:hover{
    color: aqua;
    text-decoration: solid;
}